* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    font-family: 'Open sans';
    font-size: 13.33px;
}

.carcass {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1058px;
    margin: auto;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1058px;
    height: 948px;
    margin: auto;
}

.main img {
    margin-top: 42px;
    margin-left: 46px;
}

.menu {
    width: 966px;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, .5);
    background-image: -moz-linear-gradient(90deg, rgb(68, 67, 67) 0%, rgb(94, 94, 94) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(68, 67, 67) 0%, rgb(94, 94, 94) 100%);
}

.menu div {
    width: 482px;
    height: 40px;
    margin-left: 0;
    line-height: 40px;
    text-align: justify;
    text-shadow: .5px .866px 1px rgb(0, 0, 0);
}

.menu div::after {
    display: inline-block;
    width: 100%;
    content: '';
}

.menu div a {
    display: inline-block;
    width: 99px;
    height: 40px;
    color: #fff;
    font-size: 14.67px;
    text-align: center;
}

.menu div a:hover {
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
    background-image: -moz-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(74, 74, 74) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(74, 74, 74) 100%);
}

.menu-left {
    width: 240px;
    height: 240px;
    margin-left: 46px;
    float: left;
    font-size: 13.333px;
}

.menu-left div {
    width: 238px;
    height: 39px;
    padding-left: 24px;
    border: 1px solid #c8c8c8;
    line-height: 39px;
}

.menu-left div a {
    color: rgb(101, 99, 99);
}

.menu-left div:hover {
    width: 226px;
    padding-left: 36px;
    background-color: #f9f9f9;
}

.content {
    float: right;
}

.content img {
    width: 498px;
    margin: 0 48px 39px;
    padding: 46px 88px;
    border: 1px solid #c8c8c8;
}

.content div {
    width: 625px;
    height: 141px;
    margin-bottom: 59px;
    margin-left: 72px;
    color: #2c2c2c;
    font-size: 13.333px;
    line-height: 1.6;
}

.footer {
    width: 966px;
    height: 40px;
    margin: auto;
    clear: both;
    background-color: #e1e1e1;
    font-size: 13.333px;
}

.footer .links {
    width: 478px;
    height: 40px;
    margin-left: 24px;
    float: left;
    color: #2c2c2c;
    line-height: 40px;
    text-align: justify;
}

.footer .links::after {
    display: inline-block;
    width: 100%;
    content: '';
}

.footer div a {
    color: #2c2c2c;
}

.active {
    color: #2c2c2c;
    text-decoration: underline;
}

.copyright {
    width: 170px;
    height: 40px;
    margin-right: 25px;
    float: right;
    line-height: 40px;
    text-align: right;
}

a {
    text-decoration: none;
}
