* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f9f9f9;
    font-family: 'Open sans';
    font-size: 13.33px;
}

.main {
    width: 1058px;
    height: 100%;
    margin: 0px auto;
    padding: 0px auto;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.logo {
    margin-top: 42px;
    margin-left: 46px;
}

.menu {
    width: 966px;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, .5);
    background-image: -moz-linear-gradient(90deg, rgb(68, 67, 67) 0%, rgb(94, 94, 94) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(68, 67, 67) 0%, rgb(94, 94, 94) 100%);
    font-size: 0;
}

.menu li {
    display: inline-block;
    height: 100%;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    list-style: none;
}

.menu li a {
    display: inline-block;
    width: 122px;
    height: 40px;
    color: #fff;
    font-size: 14.67px;
    line-height: 40px;
    padding-left: 20px;
    text-shadow: .5px .866px 1px rgb(0, 0, 0);
}

.menu li:hover {
    border-color: #838383;
    background-image: -moz-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(74, 74, 74) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(74, 74, 74) 100%);
}

.menu .active {
    border-color: #838383;
    background-image: -moz-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(74, 74, 74) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(74, 74, 74) 100%);
}

.menu-left {
    width: 238px;
    margin-left: 46px;
    float: left;
    font-size: 13.333px;
    border-collapse: collapse;
}

.menu-left li {
    width: 238px;
    height: 39px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #c8c8c8;
    line-height: 39px;
    list-style: none;
}

.menu-left li:first-child {
    border-top: 1px solid #c8c8c8;
}

.menu-left li a {
    display: block;
    width: 212px;
    height: 100%;
    padding-left: 24px;
    color: rgb(101, 99, 99);
}

.menu-left li a:hover {
    width: 202px;
    padding-left: 36px;
    background-color: #f9f9f9;
    color: #2c2c2c;
}

.content {
    width: 774px;
    float: right;
}

.content img {
    margin: 0 46px 39px 50px;
    padding: 46px 88px;
    border: 1px solid #c8c8c8;
}

.content p {
    display: block;
    margin-bottom: 59px;
    margin-left: 72px;
    padding-right: 60px;
    color: #2c2c2c;
    font-size: 13.333px;
    line-height: 1.6;
}

footer {
    width: 966px;
    height: 40px;
    margin: auto;
    margin-bottom: 59px;
    clear: both;
    background-color: #e1e1e1;
    font-size: 13.333px;
}

footer .links {
    width: 576px;
    float: left;
    color: #2c2c2c;
    line-height: 40px;
    text-align: justify;
}

.links li {
    width: 144px;
    height: 40px;
    float: left;
    list-style: none;
}

.links li a {
    display: inline-block;
    width: 98px;
    height: 40px;
    color: #2c2c2c;
    line-height: 40px;
    text-align: center;
}

.links li:hover a {
    text-decoration: underline;
}

.links li .active {
    text-decoration: underline;
}

.copyright {
    width: 170px;
    height: 40px;
    margin-right: 25px;
    float: right;
    line-height: 40px;
    text-align: right;
}

a {
    text-decoration: none;
}
