* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin_1-webfont.eot');
    src: url('../fonts/helveticaneue-thin_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin_1-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: table-row;
    width: 100%;
    background-color: #085392;
}

.header_navbar {
    float: right;
}

.menu {
    list-style: none;
    float: left;
    overflow: hidden;
}

.menu li {
    height: 36px;
    padding: 0 16px;
    float: left;
    font: 14px 'Helvetica Neue';
}

.menu li a {
    display: inline-block;
    color: #60b5ed;
    text-decoration: none;
    line-height: 36px;
}

.menu li:hover {
    background-color: #4eabda;
}

.menu li:hover a {
    color: #fff;
}

.offers {
    display: table;
    height: 36px;
    float: left;
    border-left: 1px solid #4299d2;
}

.offers:hover {
    background-color: #4eabda;
}

.offers a {
    display: table-cell;
    height: 36px;
    vertical-align: middle;
    text-decoration: none;
}

.offers img {
    display: inline-block;
    padding-left: 16px;
    height: auto;
    vertical-align: middle;
}

.offers > a > p {
    display: inline;
    padding-right: 16px;
    color: #fff;
    font: 14px 'Helvetica Neue';
    text-decoration: none;
    line-height: 36px;
}

.login {
    margin-right: 20px;
    padding: 0 16px;
    border-left: 1px solid #4299d2;
    border-right: 1px solid #4299d2;
    float: left;
    color: #fff;
    background-color: #4299d2;
    font: 14px 'Helvetica Neue';
    line-height: 36px;
}

.login p,
.login a {
    display: inline;
}

.login a {
    text-decoration: underline;
    color: #fff;
}

.content {
    display: table-row;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../img/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% auto;
}

.content > div {
    display: table-cell;
    vertical-align: middle;
}

.registration {
    width: 558px;
    margin: auto;
    text-align: center;
    color: #fff;
}

.registration_header {
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-family: 'Helvetica Neue';
}

.registration_header p {
    text-align: center;
    padding: 10px 30px;
    font-size: 24px;
}

.registration_body {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.registration_body > a {
    display: inline-block;
}

.registration_body > a > img {
    padding: 36px 0 10px 0;
}

.divider {
    padding: 10px 0;
}

.divider p {
    display: inline-block;
    width: auto;
    position: relative;
    font-family: 'Helvetica Neue';
    color: #999999;
}

.divider p::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 123px;
    top: 8px;
    left: -128px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #000;
}

.divider p::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 123px;
    top: 8px;
    left: 23px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #000;
}

form div {
    display: block;
    padding: 7px 0;
}

.fields {
    width: 274px;
    margin: auto;
}

input {
    display: block;
    width: 256px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    border: none;
    border-bottom: 1px solid #484848;
    background-color: #000;
    font-family: 'Helvetica Neue';
    color: #fff;
}

input[type="text"] {
    font-size: 14px;
}

input[type="submit"] {
    width: 149px;
    margin: auto;
    padding: 10px;
    background-image: url('../img/submit_button.png');
    border: 0;
    border-radius: 5%;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}

.checkbox {
    display: block;
    position: relative;
}

input[type="checkbox"] {
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.checkbox label {
    display: inline-block;
    margin-left: -30px;
    font-size: 14px;
    font-family: 'Helvetica Neue';
    line-height: 14px;
    cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: #1b5288;
    color: #fff;
    box-shadow: 0 3px 9px #2f7bc5;
}

.terms_of_service p {
    width: 310px;
    font-size: 11px;
    font-family: 'Helvetica Neue';
    margin: auto;
    padding: 10px 0;
    display: block;
}
