* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 700px;
    height: 100%;
    margin: auto;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

img {
    display: block;
    width: 200px;
    margin: auto;
}

div {
    font-size: 18px;
    border-bottom: 2px solid gray;
    padding: 15px 30px 15px 30px;
    background-color: #fffbff;
}

.photo,
.feedback {
    border: none;
}
